# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.local

# Node
node_modules/

# React/Vite Build
dist/
build/

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/